@import url("materia_v4/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

html, body {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}

.container {
    max-width: 994px;
    padding: 0 15px;
}

textarea {
	min-height: 100px;
}